name: Generate Feed

on:
  # 3時間に1回
  # ghacron: "TZ=Asia/Tokyo 0 */3 * * *"
  discussion:
    types: [created, edited]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  generate-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Generate Atom feed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p _site
          deno task generate-feed --output=_site/feed.xml
          ls -la _site/feed.xml
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: "_site"
      - id: deployment
        uses: actions/deploy-pages@v4
